@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    

body , html ,  header {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    min-width: 320px;
    max-width: 1500px;
   
    
}
header {
    width: 100%;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    min-width: 320px;
    max-width: 1500px;
  
}
header > h1 {
    padding: 10px;
    text-align: center;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
}
nav > a {
    
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bolder;
}
main {
    
    padding-bottom: 20px;
    min-width: 320px;
    max-width: 1500px;
    
}
div.camisas01 {
  
    background-color: rgb(255, 255, 255);
    margin-top: 23px;
    width: 320px;
    padding-bottom: 50px;
    border-radius: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    margin-bottom: 3px;
    min-width: 320px;
    max-width: 1500px;
    margin-left: 87px;
    margin-right: 0px;
    display: inline-block;

}


div.camisas01 > img {
    display: block;
    margin: auto;
}
div.camisas01 > a {
display: block;
margin: auto;
width: 100px;
font-size: 20px;
font-weight: bold;
text-align: center;
color: rgb(255, 255, 255);
text-decoration: none;
border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    padding:10px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}
div.camisas01> p {
    margin-top: -15px;
}
div.camisas01> .nomeca {
    margin: 10px;
}


div.camisas02 {
    margin-left: 87px;
    margin-right: 0px;
    margin-bottom: 25px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
    width: 320px;
    padding-bottom: 50px;
    border-radius: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    min-width: 320px;
    max-width: 1500px;
    display: inline-block;

}
div.camisas02 > img {
    display: block;
    margin: auto;
}
div.camisas02 > a {
display: block;
margin: auto;
width: 100px;
font-size: 20px;
font-weight: bold;
text-align: center;
color: rgb(255, 255, 255);
text-decoration: none;
border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    padding:10px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}
div.camisas02> p {
    margin-top: -15px;
}
div.camisas02> .nomeca {
    margin: 10px;
}

